In [39]:
import pandas as pd
import numpy as np

In [40]:
#Import csv files

data201904 = "Resources/Citibike/JC-201904-citibike-tripdata.csv"
data201905 = "Resources/Citibike/JC-201905-citibike-tripdata.csv"
data201906 = "Resources/Citibike/JC-201906-citibike-tripdata.csv"
data201907 = "Resources/Citibike/JC-201907-citibike-tripdata.csv"
data201908 = "Resources/Citibike/JC-201908-citibike-tripdata.csv"
data201909 = "Resources/Citibike/JC-201909-citibike-tripdata.csv"


citibike201904 = pd.read_csv(data201904)
citibike201905 = pd.read_csv(data201905)
citibike201906 = pd.read_csv(data201906)
citibike201907 = pd.read_csv(data201907)
citibike201908 = pd.read_csv(data201908)
citibike201909 = pd.read_csv(data201909)


tripdata201904_df = citibike201904
tripdata201905_df = citibike201905
tripdata201906_df = citibike201906
tripdata201907_df = citibike201907
tripdata201908_df = citibike201908
tripdata201909_df = citibike201909


tripdata201912_df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [41]:
#Combine the CSV Files into a dataframe
trip_df = [tripdata201904_df,tripdata201905_df,tripdata201906_df,
           tripdata201907_df,tripdata201908_df,tripdata201909_df,]
completetripdataresults = pd.concat(trip_df)
completetripdataresults

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49239,621,2019-09-30 23:11:40.0630,2019-09-30 23:22:01.8370,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26245,Subscriber,1962,1
49240,167,2019-09-30 23:19:02.9380,2019-09-30 23:21:50.8290,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29525,Subscriber,1984,1
49241,94,2019-09-30 23:26:24.7470,2019-09-30 23:27:59.2310,3213,Van Vorst Park,40.718489,-74.047727,3483,Montgomery St,40.719420,-74.050990,26317,Subscriber,1958,1
49242,366,2019-09-30 23:49:00.4260,2019-09-30 23:55:06.9620,3638,Washington St,40.724294,-74.035483,3270,Jersey & 6th St,40.725289,-74.045572,29488,Subscriber,1976,1
49243,150,2019-09-30 23:56:30.1980,2019-09-30 23:59:00.6750,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,29498,Subscriber,1982,1

In [42]:
completetripdataresults.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [43]:
completetripdataresults['gender'] = completetripdataresults['gender'].astype(str)
completetripdataresults.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                      object
dtype: object

In [44]:
update_gender = completetripdataresults['gender']
update_male = update_gender.replace('1', 'Male')
update_female = update_male.replace('2', 'Female')
update_unkown = update_female.replace('0', 'Unknown')
completetripdataresults['gender'] = update_unkown
completetripdataresults

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,Male
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,Male
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,Female
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,Male
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49239,621,2019-09-30 23:11:40.0630,2019-09-30 23:22:01.8370,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26245,Subscriber,1962,Male
49240,167,2019-09-30 23:19:02.9380,2019-09-30 23:21:50.8290,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29525,Subscriber,1984,Male
49241,94,2019-09-30 23:26:24.7470,2019-09-30 23:27:59.2310,3213,Van Vorst Park,40.718489,-74.047727,3483,Montgomery St,40.719420,-74.050990,26317,Subscriber,1958,Male
49242,366,2019-09-30 23:49:00.4260,2019-09-30 23:55:06.9620,3638,Washington St,40.724294,-74.035483,3270,Jersey & 6th St,40.725289,-74.045572,29488,Subscriber,1976,Male
49243,150,2019-09-30 23:56:30.1980,2019-09-30 23:59:00.6750,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,29498,Subscriber,1982,Male

In [45]:
completetripdataresults.count()

tripduration               250322
starttime                  250322
stoptime                   250322
start station id           250322
start station name         250322
start station latitude     250322
start station longitude    250322
end station id             250322
end station name           250322
end station latitude       250322
end station longitude      250322
bikeid                     250322
usertype                   250322
birth year                 250322
gender                     250322
dtype: int64

In [46]:
completetripdataresults=completetripdataresults.dropna(how="any")
completetripdataresults.count()

tripduration               250322
starttime                  250322
stoptime                   250322
start station id           250322
start station name         250322
start station latitude     250322
start station longitude    250322
end station id             250322
end station name           250322
end station latitude       250322
end station longitude      250322
bikeid                     250322
usertype                   250322
birth year                 250322
gender                     250322
dtype: int64

In [47]:
#Save the CSV files
completetripdataresults.to_csv('2019_Citibike_Trip_Data.csv')